/* body styling */
body {
    font-family: 'Kaisei Decol', serif;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

body {
    overflow-x: hidden;
}

/* Header Section */
.header-container {
    background-color: #f8eacb;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

/* header logo */
.header-container img {
    width: 110px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 50px;
}

/* header title */
.header-container h1 {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

.header-container p {
    font-weight: bold;
    font-size: 18px;;
    margin-left: 50px;
    text-align: center;
    margin-top: auto;
}
/* Navigation styling */
nav {
    background-color: #916537;
    color: white;
    text-align: center;
    width: 105%;
}

nav a {
    display: inline-block;
    padding: 10px 60px;
    text-decoration: none;
    color: white;
    font-family: 'Inria Serif', serif;
    font-size: 28px;
}

nav a:hover {
    color: #333;
}

.main-content {
    display: flex;
    gap: 20px;
    margin-right: auto;
    width: 100%;
    max-width: 1300px;
    overflow-x: hidden;
}

.nav-category {
    display: flex;
    justify-content: flex-start;
    background-color: #D1B9A0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    width: 20%;
    height: 50%;
    padding: 0 20px;
    margin-right: 20px;
}

.nav-category a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-align: left;
}

.nav-category a:hover {
    color: black;
}

/* shows the design when clicked upon (filter functionality) */
.nav-genre a.active {
    color: black;  /* active color */
    font-weight: bold; 
    text-decoration: underline; /* underline the active link */
}


.ranking {
    margin: 30px;
    border: none;
    width: 105%;
    background-color: #A87768;
    overflow: visible;
}

.ranking h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

/* Grid Layout for Books */
.books-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    gap: 40px;
    padding: 10px;
    width: 100%; /* Ensure grid takes up full width */
    box-sizing: border-box;
}

/* Book Item Styling */
.ranking-book {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* align items at the top */
    height: auto;
    margin-top: -15px;
    gap: 5px;
}

.ranking-book:nth-child(2) {
    margin-right: 0; /* Move the second column closer to the first */
}

.ranking-book img {
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for form */
}

.ranking-book h3 {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Inria Sans', sans-serif;
    margin-left: 5px;
}
.ranking-book h3 .ranking-number {
    font-size: 40px;
    font-weight: bold;
    color: #4c2c1e;
    margin-right: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left align to  the content */
    text-align: left;
    margin-top: -20px;
    max-height: none;
    flex-grow: 1;
    margin-left: 20px;
    overflow: visible; 
}


.book-info h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Inria Sans', sans-serif;
}

.book-info p:first-of-type {
    font-size: 15px;
    color: #666;
    margin-left: 43px;
    margin-top: -10px;
}

.book-info p:first-of-type:hover {
    text-decoration: underline;
    color: #333;
}

.book-info p:nth-of-type(3) {
    font-size:14px;
    color: black;
    margin-left: 43px;
    margin-top: -30px;
    line-height: 1.6;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.book-info p:nth-of-type(4) {
    font-size:14px;
    color: black;
    margin-left: 43px;
    margin-top: -15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-weight: bold;
}

.exit-scroll-arrow {
    background-color: #4c2c1e;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    height: 20%;
    transition: background-color 0.3s;
}

exit-scroll-arrow:hover {
    background-color: #d2b38c;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    display: none; /* Initially hidden */
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
    opacity: 1;
}

 html, body {
        overflow-x: hidden; /* Prevent horizontal scroll */
        margin: 0; /* remove margin */
        padding: 0; /* remove padding */
        width: 100%;
    }
    
    /* prevent elements from overflowing  */
    * {
        box-sizing: border-box; /* Ensure padding and border are within width */
        max-width: 100%; /* Prevent elements from overflowing */
    }

    

    
    .formbox-rectangle {
        display: none;
    }

@media (max-width: 768px) {
    
    /* header title */
    .header-container {
        padding: 40px 15px;
        background-color: #BC966E; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header-container img,
    .logo-text {
        display: none;     /* hide the logo and text  */
    }

    /* what i want to display on the mobile view */
    .header-container::before {
        content: "BESTSELLERS";
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        margin-right: 25%;
    }

    nav {
        background-color: #916537;
        color: white;
        text-align: center;
        padding: 10px 0;
        white-space: nowrap;
        overflow-x: auto;  /* allows horizontal scrolling */
    }
    
    nav a {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        white-space: nowrap; /* prevents text from wrapping */
    }
    
    nav a:hover {
        color: #333; /* when clicked the words turned black */
    }

    /* ranking section */
    .ranking {
        margin: 20px 0;
        padding: 10px;
        background-color: #A87768;
        width: 100%;
    }
    
    .ranking h1 {
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .nav-category {
        display: flex;
        background-color: #D1B9A0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        flex-direction: column;
        width: 30%;
        height: 90%;
        padding: 40px 40px;
        overflow: visible;
    }

    .nav-category a {
        margin-left: -30px;
        padding: 18px 0;
        text-decoration: none;
        color: white;
        font-size: 18px;
        text-align: left;
    }
    

    .nav-category a:hover {
        color: black;  /* when clicked the category text turns black */
    }

    .books-grid {
        display: grid;
        grid-template-columns: 1fr; /* single column grid for mobile */
        gap: 40px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        overflow: visible;
        align-items: center;
    }

    .ranking-book {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        padding: 10px;
    }

    .ranking-book img {
        max-width: 100%;
        height: 40%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        align-items: center;
    }

    .book-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-top: 30px;
        margin-left: 5px;
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        text-align: left;
    }

    .book-info h3 {
        font-size: 25px;
        margin-top: -8px;
        font-family: 'Inria Sans', sans-serif;
        font-weight: bold;
        white-space: normal;
    }

    .book-info p {
        font-size: 2px;
        color: #666;
        line-height: 1.5;;
        white-space: normal;
        margin: 1px 0;
    }

    .book-info p:first-of-type,
    .book-info p:nth-of-type(3),
    .book-info p:nth-of-type(4) {
        margin-left: 0;
        margin: 10px;
        font-size: 20px;
    }

    .book-info p:first-of-type:hover {
        text-decoration: underline;
        color: #333;
    }

    html, body {
        margin: 0; /* remove margin */
        padding: 0; /* remove padding */
        width: 100%;
        overflow-x: hidden;
    }
    
    /* prevent elements from overflowing  */
    * {
        box-sizing: border-box; /* Ensure padding and border are within width */
        max-width: 100%; /* Prevent elements from overflowing */
    }

    .formbox-rectangle {
        width: 100%;
        padding: 25px;
        background-color: #4C2C1E;
        display: flex;
        color: white;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: center;
        z-index: 1000;
    }

    .rectangle-nav {
        list-style: none; /* removes bulletpoints */
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    .rectangle-nav li {
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        margin: 0 25px;
        display: inline-block;
    }

    .rectangle-nav a {
        text-decoration: none;  /* removes underlines */
        color: white;
        transition: color 0.3s;  /* smooth color change on hover */
    }
    
    .rectangle-nav a:hover {
        color:rgba(76, 44, 30, 0.5);
    }

    .exit-scroll-arrow {
        background-color: #4c2c1e;
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 10px;
        height: 20%;
        transition: background-color 0.3s;
        order: -1;
        margin-right: auto;
    }
    
    exit-scroll-arrow:hover {
        background-color: #d2b38c;
    }

}