body {
    font-family: 'Kaisei Decol', serif;
    margin: 0;
    background-color: #ffffff; /* white background */
    display: flex;
    flex-direction: column; /* arranges child element vertically in a column */
    align-items: center;
    justify-content: flex-start; /* arranges child elements at the top of the page */
    min-height: 100vh; /* ensures the body takes up full viewport height */
}

/* Header Section */
.header-container {
    background-color: #f8eacb;
    width: 100%;
    padding: 30px ;
    border-bottom: 1px solid black; /* black underline */
    display: flex;
    justify-content: flex-start; /* align items to the left */
    align-items: center;
}

.logo-container {
    text-align: center;
    margin-left: 30px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* header logo */
.header-container img {
    width: 110px;
    height: 100px;
    border-radius: 50%; /* Circular logo */
    object-fit: cover;
}


/* Navigation Links */
.nav {
    display: flex;
    gap: 50px;
    padding: 60px;
    align-items: center;
}

.nav a {
    font-family: 'Kaisei Decol', serif;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Header Buttons */
.header-buttons {
    display: flex;
    gap: 30px; /* Space between buttons */
    align-items: center;
    margin-left: 250px;
    margin-bottom: 30px;
}

.button {
    padding: 10px 20px; /* Adjust padding for larger clickable area */
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.button.sign-in {
    background-color: #916537;
    color: #ffffff;
}

.button.sign-in:hover {
    background-color: #704026;
}

.button.join-now {
    background-color: #4c2c1e;
    color: #ffffff;
}

.button.join-now:hover {
    background-color: #3a2016;
}

